html, body, #app {
    height: 100%;
}

body {
    color: white;
    font-weight: 600;
}

.box-round {
    border-radius: 15px;
    padding: 15px;
}

.content-box {
    background-color: rgba(40, 40, 40, .8);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.content-box a {
    color: white;
    font-weight: 700;
}

.content-box a:hover {
    text-decoration: underline;
}

.rules {
    font-size: 13px;
}

.rules-button {
    font-size: 13px;
    font-weight: 700;
}

.rules-box-outer {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 12px;
    color: black;
    font-weight: 500;
}

.rules-box-inner {
    background-color: white;
}

.player-strike {
    color: darkred;
    font-weight: 700;
}

.player-commendation {
    color: darkgreen;
    font-weight: 700;
}

a.nav-main {
    font-weight: 700;
    color: white;
    width: 100%;
    margin: auto;
}

.nav-desc {
    font-weight: 500;
    color: white;
    font-size: 11px;
    max-width: 120px;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid darkgray;
    margin: 1em 0;
    padding: 0;
}

.accountOwner-CharacterBackstory {
font-size:9px;
}

staffpanel a, staffpanel a:href {
    text-decoration: none;
}
